---
import "@fontsource/chakra-petch";
import "@fontsource-variable/asap";
import { Image } from "astro:assets";
import photo from "../images/profile-styled-circle-alt-compressed.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="glow flex flex-col items-center justify-center gap-8 bg-dark-blue py-4 text-green"
    >
      <header
        class="fixed hidden w-screen animate-slide-down font-heading text-xl lg:block"
      >
        <nav class="mx-auto flex w-1/2 items-center text-center">
          <a class="nav-link group w-1/3 py-8" href="#about"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >About</a
          >

          <a class="nav-link group w-1/3 py-8" href="#projects"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Projects</a
          >

          <a class="nav-link group w-1/3 py-8" href="#contact"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Contact</a
          >
        </nav>
      </header>

      <!-- Index -->
      <section
        class="mx-auto flex h-screen items-center font-heading text-5xl"
        id="home"
      >
        <span
          class="relative mr-4 animate-opening transition-opacity duration-300 ease-in-out"
          id="titleSlash">//</span
        >

        <h1
          class="flex w-0 animate-[typed_0.75s_steps(15,_end)_1.5s_both] overflow-hidden whitespace-nowrap"
        >
          Momentum
        </h1>

        <span class="animate-[fade-in_500ms_1.5s_infinite_alternate] opacity-0"
          >_</span
        >
      </section>

      <!-- About -->
      <section
        class="container flex h-screen flex-col gap-16 lg:flex-row"
        id="about"
      >
        <Image alt="" class="hue-rotate-[328deg] lg:h-[500px]" src={photo} />

        <div>
          <h3 class="font-heading text-4xl">Hello, world.</h3>

          <div class="mt-6 flex flex-col gap-8 font-body lg:mt-12 lg:text-xl">
            <p>
              My name is Yoga Prasetya. I am a full stack web and apps developer
              based in the Greater Jakarta Area, Indonesia with more than 5
              years of professional experience working on projects both
              personally and together in teams.
            </p>

            <p>
              Fast learning and highly adaptable, I strive to incorporate new &
              emerging technologies to my tech stack. Making every project as an
              opportunity to learn, collaborate, and further improve my skills.
            </p>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section
        class="container flex h-screen flex-col gap-16 lg:flex-row"
        id="contact"
      >
        <h3 class="font-heading text-4xl lg:w-1/3">Let's work together</h3>

        <form
          action=""
          class="grid h-1/2 gap-8 lg:mt-12 lg:grid-cols-2"
          method="post"
        >
          <input
            class="border-b-2 bg-transparent outline-none"
            id="name"
            name="name"
            placeholder="Your name"
            type="text"
          />

          <input
            class="border-b-2 bg-transparent outline-none"
            id="email"
            name="email"
            placeholder="Your email address"
            type="email"
          />

          <textarea
            class="col-span-full border-b-2 bg-transparent outline-none"
            id="message"
            name="message"
            placeholder="What do you have in mind?"
            rows="3"></textarea>
        </form>
      </section>

      <nav
        class="fixed bottom-0 z-10 flex w-screen translate-y-full bg-dark-blue-lighter py-4 text-center transition-transform duration-500 lg:hidden"
        id="mobileNavbar"
      >
        <a class="w-1/4" href="#home">//</a>

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#about"
          >About</a
        >

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#projects"
          >Projects</a
        >

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#contact"
          >Contact</a
        >
      </nav>

      <footer class="z-0 -translate-y-16 lg:-translate-y-0">
        <p class="font-heading"><span class="mr-2">//</span> Carpe Momentum</p>
      </footer>
    </main>
  </body>
</html>

<script>
  // Cursor glow effect
  /* const bg = document.querySelector("main");

  bg?.addEventListener("mousemove", function (event) {
    // Calculate x and y positions
    var x = event.pageX - this.offsetLeft;
    var y = event.pageY - this.offsetTop;

    // Apply the gradient
    this.style.background = `radial-gradient(circle at ${x}px ${y}px, #123625 0%, #0f172a 350px)`;
  });

  bg?.addEventListener("mouseleave", function () {
    // Reset the background color
    this.style.background = "#0f172a";
  }); */

  // Nav links hover effects
  const navLinks = document.querySelectorAll(".nav-link");
  const titleSlash = document.querySelector("#titleSlash");

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseover", () => {
      console.log("over");
      titleSlash?.classList.add("opacity-0");
    })
  );

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseleave", () => {
      titleSlash?.classList.remove("opacity-0");
    })
  );

  // Scroll detection
  const navbar = document.querySelector("#mobileNavbar");
  let scrollPos = 0;

  window.addEventListener("scroll", () => {
    // Detects new state and compares it with the new one
    if (document.body.getBoundingClientRect().top > scrollPos) {
      navbar?.classList.remove("translate-y-full");
    } else {
      navbar?.classList.add("translate-y-full");
    }

    // Saves the new position for iteration.
    scrollPos = document.body.getBoundingClientRect().top;
  });
</script>
