---
import "@fontsource/chakra-petch";
import "@fontsource-variable/asap";
import "swiper/css";
import { Image } from "astro:assets";
import photo from "../images/profile-styled-circle-alt-compressed.png";
---

<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="glow flex flex-col items-center justify-center gap-8 bg-dark-blue py-4 text-green"
    >
      <header
        class="fixed hidden w-screen animate-slide-down font-heading text-xl lg:block"
      >
        <nav class="mx-auto flex w-1/2 items-center text-center">
          <a class="nav-link group w-1/3 py-8" href="#about"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >About</a
          >

          <a class="nav-link group w-1/3 py-8" href="#projects"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Projects</a
          >

          <a class="nav-link group w-1/3 py-8" href="#contact"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Contact</a
          >
        </nav>
      </header>

      <!-- Index -->
      <section
        class="mx-auto flex h-screen items-center font-heading text-5xl"
        id="home"
      >
        <span
          class="relative mr-4 animate-opening transition-opacity duration-300 ease-in-out"
          id="titleSlash">//</span
        >

        <h1
          class="flex w-0 animate-[typed_0.75s_steps(15,_end)_1.5s_both] overflow-hidden whitespace-nowrap"
        >
          Momentum
        </h1>

        <span class="animate-[fade-in_500ms_1.5s_infinite_alternate] opacity-0"
          >_</span
        >
      </section>

      <!-- About -->
      <section
        class="container flex h-screen flex-col gap-16 lg:flex-row"
        id="about"
      >
        <div class="flex w-fit items-center font-heading text-3xl">
          <span
            class="relative mr-4 animate-opening transition-opacity duration-300 ease-in-out"
            id="titleSlash">//</span
          >

          <h2
            class="flex w-0 animate-[typed_0.75s_steps(15,_end)_1.5s_both] overflow-hidden whitespace-nowrap"
          >
            About
          </h2>
        </div>

        <Image
          alt=""
          class="invisible hue-rotate-[328deg] lg:h-[500px]"
          src={photo}
        />

        <div>
          <h3 class="font-heading text-4xl">Hello, world.</h3>

          <div class="mt-6 flex flex-col gap-8 font-body lg:mt-12 lg:text-xl">
            <p>
              My name is Yoga Prasetya. I am a full stack web and apps developer
              based in the Greater Jakarta Area, Indonesia with more than 5
              years of professional experience working on projects both
              personally and together in teams.
            </p>

            <p>
              Fast learning and highly adaptable, I strive to incorporate new &
              emerging technologies to my tech stack. Making every project as an
              opportunity to learn, collaborate, and further improve my skills.
            </p>
          </div>
        </div>
      </section>

      <!-- Projects -->
      <section class="container relative h-screen" id="projects">
        <div class="flex w-fit items-center font-heading text-3xl">
          <span
            class="relative mr-4 animate-opening transition-opacity duration-300 ease-in-out"
            id="titleSlash">//</span
          >

          <h2
            class="flex w-0 animate-[typed_0.75s_steps(15,_end)_1.5s_both] overflow-hidden whitespace-nowrap"
          >
            Projects
          </h2>
        </div>

        <div class="swiper mt-4 h-[30vh] w-full">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <Image
                alt=""
                height="300"
                src="https://picsum.photos/seed/1/350"
                width="350"
              />
            </div>

            <div class="swiper-slide">
              <Image
                alt=""
                height="300"
                src="https://picsum.photos/seed/2/350"
                width="350"
              />
            </div>

            <div class="swiper-slide">
              <Image
                alt=""
                height="300"
                src="https://picsum.photos/seed/3/350"
                width="350"
              />
            </div>
          </div>

          <nav
            class="absolute bottom-0 right-0 z-10 flex items-center gap-4 text-green"
          >
            <div class="swiper-button-prev">
              <svg
                class="size-12"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.75 19.5 8.25 12l7.5-7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>

            <div class="swiper-button-next">
              <svg
                class="size-12"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </nav>
        </div>
      </section>

      <!-- Contact -->
      <section
        class="container flex h-screen flex-col justify-center text-center lg:flex-row"
        id="contact"
      >
        <div class="flex w-fit items-center font-heading text-3xl">
          <span
            class="relative mr-4 animate-opening transition-opacity duration-300 ease-in-out"
            id="titleSlash">//</span
          >

          <h2
            class="flex w-0 animate-[typed_0.75s_steps(15,_end)_1.5s_both] overflow-hidden whitespace-nowrap"
          >
            Contact
          </h2>
        </div>

        <h3 class="mt-24 font-heading text-2xl lg:w-1/3">
          Let's work together
        </h3>

        <!-- Temp hidden -->
        <!-- <form
          action=""
          class="grid h-1/2 gap-8 lg:mt-12 lg:grid-cols-2"
          method="post"
        >
          <input
            class="border-b-2 bg-transparent outline-none"
            id="name"
            name="name"
            placeholder="Your name"
            type="text"
          />

          <input
            class="border-b-2 bg-transparent outline-none"
            id="email"
            name="email"
            placeholder="Your email address"
            type="email"
          />

          <textarea
            class="col-span-full border-b-2 bg-transparent outline-none"
            id="message"
            name="message"
            placeholder="What do you have in mind?"
            rows="3"></textarea>
        </form> -->

        <nav class="mt-8 flex flex-col items-center gap-4">
          <a
            class="flex w-fit min-w-80 items-center gap-4 rounded bg-dark-blue-lighter px-8 py-4 font-heading text-xl"
            href="mailto:yogaajie2@gmail.com"
          >
            <svg
              class="bi bi-envelope size-12"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
              ></path>
            </svg>

            <p>Send me a message</p>
          </a>

          <a
            class="flex w-fit min-w-80 items-center gap-4 rounded bg-dark-blue-lighter px-8 py-4 font-heading text-xl"
            href="https://drive.google.com/file/d/16ge2OMj0R2WipWvaTbr9HBIZ802lLF6p/view?usp=sharing"
            target="_blank"
          >
            <svg
              class="bi bi-file-earmark-text size-12"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"
              ></path>

              <path
                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"
              ></path>
            </svg>

            <p>View my resume</p>
          </a>
        </nav>

        <h3 class="mt-24 font-heading text-2xl lg:w-1/3">Connect with me</h3>

        <nav class="mt-8 flex items-center justify-evenly">
          <a
            href="https://www.linkedin.com/in/yogajie"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-linkedin size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
              ></path>
            </svg>
          </a>

          <a
            href="https://www.github.com/yogaajie2"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-github size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
              ></path>
            </svg>
          </a>

          <a
            href="https://www.x.com/yogajie"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-twitter size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"
              ></path>
            </svg>
          </a>

          <a
            href="https://www.instagram.com/yogaajie2"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-instagram size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
              ></path>
            </svg>
          </a>

          <a
            href="https://www.threads.net/@yogaajie2"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-threads size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161"
              ></path>
            </svg>
          </a>

          <a
            href="https://www.facebook.com/yoga.prasetya.1232"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg
              class="bi bi-facebook size-6"
              fill="currentColor"
              height="16"
              viewBox="0 0 16 16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              ></path>
            </svg>
          </a>
        </nav>
      </section>

      <nav
        class="fixed bottom-0 z-10 flex w-screen translate-y-full bg-dark-blue-lighter py-4 text-center transition-transform duration-500 lg:hidden"
        id="mobileNavbar"
      >
        <a class="w-1/4" href="#home">//</a>

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#about"
          >About</a
        >

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#projects"
          >Projects</a
        >

        <a class="w-1/4 border-l-[3px] border-l-dark-blue" href="#contact"
          >Contact</a
        >
      </nav>

      <footer class="z-0 -translate-y-16 lg:-translate-y-0">
        <p class="font-heading"><span class="mr-2">//</span> Carpe Momentum</p>
      </footer>
    </main>
  </body>
</html>

<script>
  // Cursor glow effect
  /* const bg = document.querySelector("main");

  bg?.addEventListener("mousemove", function (event) {
    // Calculate x and y positions
    var x = event.pageX - this.offsetLeft;
    var y = event.pageY - this.offsetTop;

    // Apply the gradient
    this.style.background = `radial-gradient(circle at ${x}px ${y}px, #123625 0%, #0f172a 350px)`;
  });

  bg?.addEventListener("mouseleave", function () {
    // Reset the background color
    this.style.background = "#0f172a";
  }); */

  // Nav links hover effects
  const navLinks = document.querySelectorAll(".nav-link");
  const titleSlash = document.querySelector("#titleSlash");

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseover", () => {
      console.log("over");
      titleSlash?.classList.add("opacity-0");
    })
  );

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseleave", () => {
      titleSlash?.classList.remove("opacity-0");
    })
  );

  // Mobile navbar
  const navbar = document.querySelector("#mobileNavbar");
  let scrollPos = 0;

  setTimeout(() => {
    navbar?.classList.remove("translate-y-full");
  }, 2000);

  window.addEventListener("scroll", () => {
    // Detects new state and compares it with the new one
    if (document.body.getBoundingClientRect().top > scrollPos) {
      navbar?.classList.remove("translate-y-full");
    } else {
      navbar?.classList.add("translate-y-full");
    }

    // Saves the new position for iteration.
    scrollPos = document.body.getBoundingClientRect().top;
  });

  // Swiper
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    loop: true,
    modules: [Navigation],

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
