---
import "@fontsource/chakra-petch";
import "@fontsource-variable/asap";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="glow flex h-screen w-screen flex-col items-center justify-center gap-8 bg-dark-blue text-green"
    >
      <header class="fixed top-0 w-screen font-heading text-xl">
        <nav class="mx-auto flex w-1/2 items-center text-center">
          <a class="nav-link group w-1/3 py-8" href="#about"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >About</a
          >

          <a class="nav-link group w-1/3 py-8" href="#projects"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Projects</a
          >

          <a class="nav-link group w-1/3 py-8" href="#contact"
            ><span
              class="mr-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
              >//</span
            >Contact</a
          >
        </nav>
      </header>

      <section>
        <div class="mx-auto flex font-heading text-5xl">
          <span
            class="mr-4 transition-opacity duration-300 ease-in-out"
            id="titleSlash">//</span
          >

          <h1
            class="flex w-0 animate-[typed_0.75s_steps(15,_end)_2s_both] overflow-hidden whitespace-nowrap"
          >
            Momentum
          </h1>

          <span class="animate-fade-in-out">_</span>
        </div>

        <!-- <h2 class="animate-fade-in font-body text-2xl opacity-0">Hello World</h2> -->
      </section>
    </main>
  </body>
</html>

<script>
  // Cursor glow effect
  /* const bg = document.querySelector("main");

  bg?.addEventListener("mousemove", function (event) {
    // Calculate x and y positions
    var x = event.pageX - this.offsetLeft;
    var y = event.pageY - this.offsetTop;

    // Apply the gradient
    this.style.background = `radial-gradient(circle at ${x}px ${y}px, #123625 0%, #0f172a 350px)`;
  });

  bg?.addEventListener("mouseleave", function () {
    // Reset the background color
    this.style.background = "#0f172a";
  }); */

  const navLinks = document.querySelectorAll(".nav-link");
  const titleSlash = document.querySelector("#titleSlash");

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseover", () => {
      console.log("over");
      titleSlash?.classList.add("opacity-0");
    })
  );

  navLinks.forEach((navLink) =>
    navLink.addEventListener("mouseleave", () => {
      titleSlash?.classList.remove("opacity-0");
    })
  );
</script>
