---
import "@fontsource/chakra-petch";
import "@fontsource/chakra-petch";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="flex flex-col gap-8 h-screen items-center justify-center w-screen"
    >
      <h1 class="font-heading text-5xl">// Momentum_</h1>
      <h2 class="font-body text-2xl">Hello World</h2>
    </main>
  </body>
</html>
